<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <div id="container">
        <div id="main">
            <div id="upper">
               <a href="/api/create"><img src="/images/icons8-back-50.png"></a>
            </div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Birth date</th>
                    <th>Email id</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                    <% for(let i=0;i<user.length;i++) {%>
                        <tr>
                            <td><%=user[i].name%></td>
                            <td><%=user[i].birthDate%></td>
                            <td><%=user[i].emailId %></td>
                            <td><a href="/api/edit/<%=user[i]._id%>"><img src="/images/marker-solid.svg"></a>
                            </td>
                            <td>
                                <form action="/api/delete/<%=user[i]._id%>" method="POST">
                                    <img src="/images/trash-solid.svg" class="deleteData">
                                </form>
                            </td>
                        </tr>
                   <%}%>
            </table>
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>